on: 2
jobs:
 build:
   machine: true
   steps:
     - checkout
     # start proprietary DB using private Docker image
     # with credentials stored in the UI
     # build the application image
     - run:
        command: |
          pwd=`pwd` && echo $pwd
          ls -larth
          git status
          git branch
          set -x
          echo;
          docker build . -t cci-nginx
          echo;
          docker run -dti -p 80:80 cci-nginx
          echo;
          docker ps -a
          sleep 3
          curl localhost
build:
    docker:
      - image: circleci/node:jessie-browsers
        #auth:
          #username: mydockerhub-user
          #password: $DOCKERHUB_PASSWORD  # context / project UI env-var reference
    steps:
      - checkout
      - run: mkdir test-reports
      - run:
          name: Download Selenium
          command: curl -O http://selenium-release.storage.googleapis.com/3.5/selenium-server-standalone-3.5.3.jar
      - run:
          name: Start Selenium
          command: java -jar selenium-server-standalone-3.5.3.jar -log test-reports/selenium.log
          background: true
