on: 2
jobs:
 build:
   machine: true
   steps:
     - checkout
     # start proprietary DB using private Docker image
     # with credentials stored in the UI
     # build the application image
     - run:
        command: |
          pwd=`pwd` && echo $pwd
          ls -larth
          git status
          git branch
          set -x
          echo;
          docker build . -t cci-nginx
          docker run -p 80:80 cci-nginx
          curl localhost

